.containerWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    gap: 1.5rem;
    padding: 2rem 1rem;
    width: 100%;
    height: 100%;
    max-width: 1640px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.container::-webkit-scrollbar {
    display: none;
}

.movieCard {
    position: relative;
    flex-shrink: 0;
    width: 400px;
    aspect-ratio: 16 / 9;
}

.cardContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    background: #141414;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);

    transform-origin: center center;
    transition: transform 0.3s ease;
    z-index: 5;
}

.movieCard:hover .cardContent {
    transform: scale(1.25);
    z-index: 10;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
}

.cardContent img {
    width: 100%;
    height: auto;
    display: block;
}

.infoBox {
    padding: 1rem;
    background-color: #141414;
    z-index: 10;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.movieCard:hover .infoBox {
    max-height: 200px;
    opacity: 1;
}

.overviewText {
    margin-top: 0.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
}