.container {
    display: flex;
    gap: 1.5rem;
    padding: 1rem 0;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}

.movieCard {
    position: relative;
    border-radius: 0.5rem;
    cursor: pointer;
    flex-shrink: 0;
    width: 20rem;
    height: 30rem;
    transition: all 0.4s ease-in-out;
}

.expandedCard {
    position: relative;
    z-index: 10;
    width: 42rem;
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
}

.movieImage {
    width: 130%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.4s ease-in-out;
}

.hiddenImage {
    opacity: 0;
    z-index: 1;
}

.visibleImage {
    opacity: 1;
    z-index: 2;
}

.overlayInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 3;
}

.expandedCard .overlayInfo {
    opacity: 1;
}

.text {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.descriptionButtons {
    display: flex;
    flex-direction: row;
    gap: 1rem; /* Уменьшил отступ */
    align-items: center; /* Выровнял кнопки по центру */
}

.descriptionButtons > button:first-child {
    background-color: rgba(153, 153, 153, 0.3) !important;
    font-size: 1rem; /* Уменьшил шрифт */
    border-radius: 8px;
    font-weight: bold;
    padding: 0.75rem 1.5rem; /* Уменьшил паддинг */
    border: none;
    color: #f1f1f1;
    transition: 0.2s ease-in-out;
}

.descriptionButtons > button:first-child:hover {
    background-color: #f1f1f1 !important;
    color: #00050d;
}

/* === СТИЛИ ДЛЯ КНОПКИ "ИЗБРАННОЕ" === */
.favButton {
    background-color: rgba(153, 153, 153, 0.3) !important;
    font-size: 1.5rem;
    border-radius: 50%; /* Сделал идеально круглой */
    font-weight: bold;
    width: 3.5rem; /* Задал фиксированные размеры */
    height: 3.5rem; /* Задал фиксированные размеры */
    padding: 0; /* Убрал внутренние отступы */
    border: none;
    color: #f1f1f1;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.favButton:hover {
    background-color: #f1f1f1 !important;
    color: #00050d;
}

.favButton.isFavorite {
    color: #e50914;
}

/* ===================================== */

.text h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
}

.text p {
    font-size: 0.9rem;
    margin: 0;
    opacity: 0.9;
}