.text {
    color: #fff;
    margin: 0;
}


.m {
    font-size: 0.90rem;
}

.l {
    font-size: 1.25rem;
}

.xl {
    font-size: 1.75rem;
}

._2xl {
    font-size: 2.25rem;
}


.regular {
    font-weight: 400;
}

.semibold {
    font-weight: 500;
}

.bold {
    font-weight: 600;
}
